* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left, #74ebd5, #acb6e5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body.acik {
    background: linear-gradient(to top, #87ceeb, #ffffff);
  }
  
  body.bulutlu {
    background: linear-gradient(to top, #cfd9df, #e2ebf0);
  }
  
  body.yagmurlu {
    background: linear-gradient(to top, #3a3d40, #181719);
    color: white;
  }
  
  body.karlı {
    background: linear-gradient(to top, #e6e9f0, #eef1f5);
  }
  
  body.normal {
    background: linear-gradient(to top, #74ebd5, #acb6e5);
  }
  
  .container {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 450px;
    text-align: center;
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .search-box {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
  }


  
  .search-box input {
    flex: 1;
    padding: 10px;
    border: 2px solid #74ebd5;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
  }

  .search-box input:hover {
    box-shadow: 0 4px 15px #1cd6b4;
    border: 2px solid #1cd6b4;
    transform: scale(0.97);
  }
  
  .search-box button {
    padding: 15px 15px;
    border: none;
    background-color: #4ea8de;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s;
    font-size: 15px;
  }
  
  .search-box button:hover {
    background-color: #3277a8;
  }

  .search-box button:active {
    transform: scale(0.97) translateY(2px);
  }
  
  .search-box button:nth-child(3) {
    background-color: red;
  }

  .search-box button:nth-child(3):hover {
    background-color: rgb(215, 57, 57);
  }


  .hava-sonuc {
    margin-top: 1.5rem;
  }
  
  .hava-sonuc h2 {
    margin-bottom: 0.5rem;
    color: #444;
  }
  
  .hava-sonuc p {
    margin: 0.3rem 0;
    color: #555;
  }
  
  #hava-ikonu {
    width: 80px;
    height: 80px;
    margin-top: 0.5rem;
  }
  
  .hata-mesaji {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .gizle {
    display: none;
  }

  .favoriler {
    margin-top: 1.5rem;
    padding: 20px;
  }

  #favorilereEkle {
    max-width: 150px;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    background-color: #30db94;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.4s;
    font-size: 15px;
    
  }

  #favorilereEkle:hover {
    background-color: #12a568;
    
  }

  .favoriler button:active {
    transform: scale(0.97) translateY(2px);
  }
  
  .favoriler ul {
    list-style: none;
    padding-left: 0;
  }
  
  .favoriler li {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #eee;
    margin: 5px 0;
    transition: background 0.3s;
  }
  
  .favoriler li:hover {
    background-color: #ccc;
  }